
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddMark</title>
        
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
    <style>
                
            /*table {
                counter-reset: rowNumber;
            }

            table tbody tr {
                counter-increment: rowNumber;
            }

            table tbody tr #no:before {
                content: counter(rowNumber);
            }

            table tbody tr #no.without-before-element:before {
                content: none;
            }*/

            .input-operation {
                display: flex;
                /*justify-content: space-between;*/
            }

            .item {
                width: 100px;
                margin: 0 10px;
            }

            .requirements {
                /*margin-top: 5px;*/
                margin: 5px 10px;
                color: #999;
                min-width: 100px;
                /*max-height: 200px;*/
                /*transition: 0.28s;*/
                overflow: hidden;
                color: red;
                font-style: italic;
                font-size: 12px;
                visibility: hidden;
            }

            .loading {
                visibility: hidden;
            }

            .input-operation > div:last-child {
                margin-left: auto;
            }

            .commonEditing{
                padding:10px;
                width:30px;
            }

    </style>
</head>
<body>
    <h2>Marks</h2>
    <a href="/Home/Display?page=Option.html"> Back </a>

    <div class="container">
        <div class="loading" style="text-align:center">
            <img src="~/Content/Gifs/ajax-loader.gif" />
        </div>
        <div class="input-operation">
            <input id="txtStd" type="number" min=1 max=12 class="form-control item" placeholder="Std" name="Year" />
            <input id="txtYear" type="text" class="form-control item" placeholder="Year" name="Year" />
            <div class="item">
                <button id="viewRecordsBtn" class="btn btn-dark"><i class="glyphicon glyphicon-check"></i></button>
            </div>
            <div>
                <button id="AddRecord" class="btn btn-primary">
                    Save
                </button>
            </div>
        </div>
        <div style="display:flex">
            <div id="stdRequirement" class="requirements">
                Enter Std in (1,12)
            </div>
            <div id="yearRequirement" class="requirements">
                year is invalid
            </div>
        </div>
        <div class="container">
            <table id="tableMarks" class="table table-bordered">
                <thead>
                    <tr class="GroupHeading">
                        <th colspan="2">Student</th>
                        <th>Marks</th>
                    </tr>
                    <tr class="SubGroupHeading">
                        <th class="col-sm-1">Id</th>
                        <th class="col-sm-3">Name</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div>
    </div>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
    <script type="text/javascript"
            src="http://code.jquery.com/jquery-latest.js">
    </script>

    <script>
        //$(function () {
        //    let urlForGetMarks = "/api/CRUD/GetMarks?std=" + "9" + "&year=" + "2018";
        //    $.ajax({
        //        type: "GET",
        //        url: urlForGetMarks,
        //        dataType: "json",
        //        success: function (data)
        //        {
        //            alert('Yuhuuuu');
        //        }

        //    })
        //}
        //);
        $("#viewRecordsBtn").on('click', function () {
            var std = $('#txtStd').val();
            var year = $('#txtYear').val();
            let urlForGetMarks = "/api/CRUD/GetMarks?std=" + std + "&year=" + year;
            $.ajax({
                type: "GET",
                url: urlForGetMarks,
                dataType: "json",
                success: function (data) {
                    //alert('Yuhuuuu');
                    createTable(data);
                }
            });
        });

        function createTable(data)
        {
            var NumberOfSubjects = new Number(Object.keys(data[0].Marks).length);
            alert(NumberOfSubjects);

            //Remove Subjects Heading
            $('#tableMarks thead .SubGroupHeading').find('th:gt(1)').remove();
            //var NumberOfSubjects = 
            $('#tableMarks .GroupHeading th:last-child').attr('colspan', NumberOfSubjects);
            $.each(data[0].Marks, function (k) {
                $('<th>' + k + '</th>').appendTo('.SubGroupHeading');
            });

            //Remove data of Rows Of Previous Standard
            $('#tableMarks tbody').find('tr').remove();

            $.each(data, function () {
                var row = $('<tr></tr>').appendTo('tbody');
                $('<td></td>').text(this.StudentId).appendTo(row);
                $('<td></td>').text(this.StudentName).appendTo(row);
                $.each(this.Marks, function (k, v) {
                    //col = $('<td></td>').text(v == 255 ? 'N.A' : v).appendTo(row);
                    var col = $('<td></td>').appendTo(row);
                    $('<span></span>').attr({ contenteditable: 'true', class: "commonEditing" }).html(v == 255 ? 'N.A' : v).appendTo(col);
                });
                //$('<td></td>')
            });
                        //var headRow = $('<tr></tr>').appendTo('#tableMarks thead');
                
        }
    </script>
</body>


</html>
